In [1]:
import duckdb
duckdb.sql("ATTACH 'dbname=mimic4 user=szu004' AS db (TYPE POSTGRES, READ_ONLY)")
duckdb.sql("USE db")

In [2]:
# ALL ICU stays (paper reports 765,40)
duckdb.sql("SELECT COUNT(*) as icu_stay_count FROM mimiciv_derived.icustay_detail")

┌────────────────┐
│ icu_stay_count │
│     int64      │
├────────────────┤
│          73181 │
└────────────────┘

In [3]:
duckdb.sql("SELECT COUNT(DISTINCT subject_id) as icu_stay_count FROM mimiciv_derived.icustay_detail")

┌────────────────┐
│ icu_stay_count │
│     int64      │
├────────────────┤
│          50920 │
└────────────────┘

In [4]:
# Ventilation interventions
stays_with_interventions_org = duckdb.sql("""
WITH iws AS (
    SELECT stay_id, starttime as  inttime, ventilation_status AS int_type, row_number() OVER (PARTITION BY stay_id ORDER BY starttime) AS int_sequence
    FROM mimiciv_derived.ventilation
    WHERE ventilation_status NOT in ('None', 'SupplementalOxygen')
)
SELECT stay_id, inttime, int_type FROM iws WHERE int_sequence = 1
""")
stays_with_interventions_org.count("*")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        29367 │
└──────────────┘

In [5]:
# Alternative way to get the first intervention
ventilation_type = duckdb.sql("""
WITH odd AS (
    SELECT subject_id, stay_id, charttime, o2_delivery_device_1 AS o2_delivery_device FROM mimiciv_derived.oxygen_delivery
    UNION SELECT subject_id, stay_id, charttime, o2_delivery_device_2 AS o2_delivery_device FROM mimiciv_derived.oxygen_delivery
    UNION SELECT subject_id, stay_id, charttime, o2_delivery_device_3 AS o2_delivery_device FROM mimiciv_derived.oxygen_delivery
    UNION SELECT subject_id, stay_id, charttime, o2_delivery_device_4 AS o2_delivery_device FROM mimiciv_derived.oxygen_delivery
), odd1 AS (SELECT *, 
    CASE
    -- tracheostomy
    WHEN o2_delivery_device IN (
        'Tracheostomy tube',
        'Trach mask ' -- 16435 observations
        -- 'T-piece', -- 1135 observations (T-piece could be either InvasiveVent or Tracheostomy)
        ) THEN 'Tracheostomy'
    -- mechanical / invasive ventilation
    WHEN o2_delivery_device IN (
        'Endotracheal tube'
        ) THEN 'InvasiveVent'
    -- NIV
    WHEN o2_delivery_device IN (
        'Bipap mask ', -- 8997 observations
        'CPAP mask ' -- 5568 observations
        ) THEN 'NonInvasiveVent'
    -- high flow nasal cannula
    when o2_delivery_device IN (
        'High flow nasal cannula' -- 925 observations
        ) THEN 'HFNC'
    -- non rebreather
    WHEN o2_delivery_device IN ( 
        'Non-rebreather', -- 5182 observations
        'Face tent', -- 24601 observations
        'Aerosol-cool', -- 24560 observations
        'Venti mask ', -- 1947 observations
        'Medium conc mask ', -- 1888 observations
        'Ultrasonic neb', -- 9 observations
        'Vapomist', -- 3 observations
        'Oxymizer', -- 1301 observations
        'High flow neb', -- 10785 observations
        'Nasal cannula'
        ) THEN 'SupplementalOxygen'
    WHEN o2_delivery_device in (
        'None'
     ) THEN 'None'
    -- not categorized: other
    ELSE NULL END AS ventilation_status
FROM odd WHERE o2_delivery_device  IS NOT NULL
)
SELECT subject_id, stay_id, charttime AS starttime, ventilation_status FROM odd1
""")
ventilation_type
stays_with_interventions = duckdb.sql("""
WITH iws AS (
    SELECT stay_id, starttime as  inttime, ventilation_status AS int_type,
row_number() OVER (PARTITION BY stay_id ORDER BY starttime) AS int_sequence
FROM ventilation_type
WHERE ventilation_status NOT in ('None', 'SupplementalOxygen') AND ventilation_status IS NOT NULL
)
SELECT stay_id, inttime, int_type FROM iws WHERE int_sequence = 1
""")
stays_with_interventions.count("*")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         9263 │
└──────────────┘

In [6]:
# Patients with index period
patient_with_index_period=duckdb.sql("""
WITH patient_with_intervention AS (
    SELECT isd.*, v.inttime, v.int_type FROM mimiciv_derived.icustay_detail AS isd
    LEFT OUTER JOIN stays_with_interventions AS v ON isd.stay_id = v.stay_id
    WHERE first_icu_stay AND first_hosp_stay
)
SELECT subject_id, stay_id, gender, race AS ethnicity, 
    admittime AS ip_starttime,
    GREATEST(admittime, LEAST( dischtime, inttime, admittime + interval '5 days')) AS ip_endtime,
    inttime, int_type
    FROM patient_with_intervention
""")
patient_with_index_period.df()

,subject_id,stay_id,gender,ethnicity,ip_starttime,ip_endtime,inttime,int_type
0,10001884,37510196,F,BLACK/AFRICAN AMERICAN,2131-01-07 20:39:00,2131-01-12 20:39:00,2131-01-19 18:40:00,InvasiveVent
1,10002155,33685454,F,WHITE,2129-08-04 12:44:00,2129-08-08 12:00:00,2129-08-08 12:00:00,HFNC
2,10002348,32610785,F,WHITE,2112-11-30 22:22:00,2112-12-05 02:45:00,2112-12-05 02:45:00,Tracheostomy
3,10002430,38392119,M,WHITE,2129-06-13 00:00:00,2129-06-13 07:00:00,2129-06-13 07:00:00,HFNC
4,10004401,32773003,M,WHITE,2144-01-23 07:58:00,2144-01-28 07:58:00,2144-02-03 08:00:00,Tracheostomy
...,...,...,...,...,...,...,...,...
50915,19975121,33599105,F,WHITE,2118-01-18 00:58:00,2118-01-21 08:00:00,2118-01-21 08:00:00,HFNC
50916,19984860,31082854,F,HISPANIC OR LATINO,2114-03-04 20:59:00,2114-03-09 00:15:00,2114-03-09 00:15:00,InvasiveVent
50917,19857813,36271025,F,HISPANIC/LATINO - PUERTO RICAN,2129-06-14 02:18:00,2129-06-14 09:00:00,2129-06-14 09:00:00,HFNC
50918,19858302,35257959,M,WHITE,2182-07-24 22:05:00,2182-07-25 11:00:00,2182-07-25 11:00:00,InvasiveVent
50919,19911351,30936772,M,UNKNOWN,2139-02-27 20:07:00,2139-03-04 20:07:00,2139-03-06 15:00:00,InvasiveVent

In [7]:
## VALIDATE: Patients with index period
# Unique patients (subject id)
assert duckdb.sql("SELECT subject_id, COUNT(*) FROM patient_with_index_period GROUP BY subject_id HAVING COUNT(*) > 1").fetchone() is None
# Unique stays (stay id)
assert duckdb.sql("SELECT stay_id, COUNT(*) FROM patient_with_index_period GROUP BY stay_id HAVING COUNT(*) > 1").fetchone() is None
# valid index period (ip_endtime >= ip_starttime)
assert duckdb.sql("SELECT * FROM patient_with_index_period WHERE ip_endtime < ip_starttime").fetchone() is None
# max lenth of index period is 5 days
assert duckdb.sql("SELECT * FROM patient_with_index_period WHERE ip_endtime - ip_starttime > interval '5 days'").fetchone() is None

In [8]:
# Valida nasal canula o2 flow
nasal_canula_o2_flow = duckdb.sql("""
WITH nc_o2 AS (
    SELECT *, LEAST(o2_flow, o2_flow_additional) AS o2_flow_nc FROM mimiciv_derived.oxygen_delivery WHERE o2_delivery_device_1 = 'Nasal cannula' AND o2_delivery_device_2 IS NULL
) 
SELECT subject_id, stay_id, charttime, o2_flow_nc AS o2_flow FROM nc_o2 WHERE o2_flow_nc <= 6
""")
nasal_canula_o2_flow

┌────────────┬──────────┬─────────────────────┬─────────┐
│ subject_id │ stay_id  │      charttime      │ o2_flow │
│   int32    │  int32   │      timestamp      │ double  │
├────────────┼──────────┼─────────────────────┼─────────┤
│   10000032 │ 39553978 │ 2180-07-23 14:20:00 │     2.0 │
│   10000032 │ 39553978 │ 2180-07-23 18:00:00 │     2.0 │
│   10000032 │ 39553978 │ 2180-07-23 20:00:00 │     2.0 │
│   10000980 │ 39765666 │ 2189-06-27 10:00:00 │     3.0 │
│   10001217 │ 37067082 │ 2157-11-20 19:47:00 │     2.0 │
│   10001217 │ 37067082 │ 2157-11-20 22:00:00 │     2.0 │
│   10001217 │ 37067082 │ 2157-11-21 00:00:00 │     2.0 │
│   10001217 │ 37067082 │ 2157-11-21 02:00:00 │     2.0 │
│   10001217 │ 37067082 │ 2157-11-21 08:00:00 │     2.0 │
│   10001217 │ 37067082 │ 2157-11-21 18:00:00 │     3.0 │
│       ·    │     ·    │          ·          │      ·  │
│       ·    │     ·    │          ·          │      ·  │
│       ·    │     ·    │          ·          │      ·  │
│   10269842 │ 35288254 │ 2147-02-25 00:00:00 │     4.0 │
│   10269842 │ 35288254 │ 2147-02-25 04:00:00 │     4.0 │
│   10269842 │ 35288254 │ 2147-02-25 10:00:00 │     4.0 │
│   10269842 │ 35288254 │ 2147-02-25 12:39:00 │     2.0 │
│   10270170 │ 32662650 │ 2175-01-09 10:00:00 │     4.0 │
│   10270170 │ 32662650 │ 2175-01-09 13:00:00 │     2.0 │
│   10270200 │ 33554322 │ 2122-01-26 07:57:00 │     1.0 │
│   10270200 │ 33554322 │ 2122-01-26 08:00:00 │     1.0 │
│   10270200 │ 33554322 │ 2122-01-26 21:00:00 │     2.0 │
│   10270200 │ 33554322 │ 2122-01-27 04:00:00 │     2.0 │
├────────────┴──────────┴─────────────────────┴─────────┤
│ ? rows (>9999 rows, 20 shown)               4 columns │
└───────────────────────────────────────────────────────┘

In [9]:
patient_with_o2_data = duckdb.sql("""
SELECT * FROM patient_with_index_period AS pwi 
WHERE EXISTS( SELECT 1 FROM nasal_canula_o2_flow AS nco WHERE pwi.stay_id = nco.stay_id AND nco.charttime BETWEEN pwi.ip_starttime AND pwi.ip_endtime)
""")
patient_with_o2_data

┌────────────┬──────────┬─────────┬───┬─────────────────────┬─────────────────────┬─────────────────┐
│ subject_id │ stay_id  │ gender  │ … │     ip_endtime      │       inttime       │    int_type     │
│   int32    │  int32   │ varchar │   │      timestamp      │      timestamp      │     varchar     │
├────────────┼──────────┼─────────┼───┼─────────────────────┼─────────────────────┼─────────────────┤
│   10103795 │ 31411464 │ M       │ … │ 2176-07-06 16:56:00 │ 2176-07-09 22:00:00 │ Tracheostomy    │
│   10119017 │ 31009936 │ M       │ … │ 2159-08-13 15:00:00 │ 2159-08-13 15:00:00 │ HFNC            │
│   10259667 │ 35629197 │ M       │ … │ 2171-04-21 00:00:00 │ 2171-04-21 00:00:00 │ NonInvasiveVent │
│   10005606 │ 38740124 │ M       │ … │ 2143-12-11 00:54:00 │ NULL                │ NULL            │
│   10026868 │ 31030669 │ M       │ … │ 2149-10-30 14:42:00 │ NULL                │ NULL            │
│   10027704 │ 36187473 │ M       │ … │ 2149-04-08 10:39:00 │ NULL                │ NULL            │
│   10029514 │ 39053313 │ M       │ … │ 2112-10-10 21:58:00 │ NULL                │ NULL            │
│   10035787 │ 36110350 │ M       │ … │ 2115-06-10 16:27:00 │ NULL                │ NULL            │
│   10046234 │ 32902460 │ M       │ … │ 2166-05-01 19:02:00 │ NULL                │ NULL            │
│   10047172 │ 34369439 │ M       │ … │ 2163-06-20 01:28:00 │ NULL                │ NULL            │
│       ·    │     ·    │ ·       │ · │          ·          │  ·                  │  ·              │
│       ·    │     ·    │ ·       │ · │          ·          │  ·                  │  ·              │
│       ·    │     ·    │ ·       │ · │          ·          │  ·                  │  ·              │
│   15499728 │ 34918510 │ F       │ … │ 2187-02-21 20:25:00 │ NULL                │ NULL            │
│   15511885 │ 35256136 │ M       │ … │ 2151-06-02 00:00:00 │ NULL                │ NULL            │
│   15515859 │ 32210639 │ F       │ … │ 2195-10-12 22:40:00 │ NULL                │ NULL            │
│   15518132 │ 30843535 │ M       │ … │ 2126-09-30 14:00:00 │ NULL                │ NULL            │
│   15525793 │ 36456437 │ F       │ … │ 2206-09-16 17:02:00 │ NULL                │ NULL            │
│   15533391 │ 34816382 │ F       │ … │ 2150-12-28 13:45:00 │ NULL                │ NULL            │
│   15537368 │ 31900409 │ F       │ … │ 2135-12-31 02:50:00 │ NULL                │ NULL            │
│   15539774 │ 37513850 │ M       │ … │ 2158-06-14 15:48:00 │ NULL                │ NULL            │
│   15553160 │ 31226132 │ M       │ … │ 2132-04-17 16:27:00 │ NULL                │ NULL            │
│   15567573 │ 31047714 │ M       │ … │ 2180-05-02 17:37:00 │ NULL                │ NULL            │
├────────────┴──────────┴─────────┴───┴─────────────────────┴─────────────────────┴─────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                 8 columns (6 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────┘

In [10]:
# Initial cohort from the paper: 25,340
patient_with_o2_data.count("*")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        28942 │
└──────────────┘

In [11]:
patient_with_race = duckdb.sql("""
WITH patients AS (
    SELECT *,
    CASE
        WHEN ethnicity LIKE 'ASIAN%' THEN 'ASIAN'
        WHEN ethnicity LIKE 'BLACK%' THEN 'BLACK'
        WHEN ethnicity LIKE 'WHITE%' THEN 'WHITE'
        WHEN ethnicity LIKE 'HISPANIC%' THEN 'HISPANIC'
        END AS race_category
    FROM patient_with_o2_data)
SELECT subject_id, stay_id, race_category, gender, ip_starttime, ip_endtime  FROM patients WHERE race_category IS NOT NULL
""")
patient_with_race

┌────────────┬──────────┬───────────────┬─────────┬─────────────────────┬─────────────────────┐
│ subject_id │ stay_id  │ race_category │ gender  │    ip_starttime     │     ip_endtime      │
│   int32    │  int32   │    varchar    │ varchar │      timestamp      │      timestamp      │
├────────────┼──────────┼───────────────┼─────────┼─────────────────────┼─────────────────────┤
│   10103795 │ 31411464 │ WHITE         │ M       │ 2176-07-01 16:56:00 │ 2176-07-06 16:56:00 │
│   10119017 │ 31009936 │ ASIAN         │ M       │ 2159-08-10 23:55:00 │ 2159-08-13 15:00:00 │
│   10259667 │ 35629197 │ WHITE         │ M       │ 2171-04-18 12:35:00 │ 2171-04-21 00:00:00 │
│   10005606 │ 38740124 │ WHITE         │ M       │ 2143-12-06 00:54:00 │ 2143-12-11 00:54:00 │
│   10026868 │ 31030669 │ WHITE         │ M       │ 2149-10-25 14:42:00 │ 2149-10-30 14:42:00 │
│   10027704 │ 36187473 │ WHITE         │ M       │ 2149-04-03 10:39:00 │ 2149-04-08 10:39:00 │
│   10035787 │ 36110350 │ WHITE         │ M       │ 2115-06-06 00:00:00 │ 2115-06-10 16:27:00 │
│   10046234 │ 32902460 │ WHITE         │ M       │ 2166-04-26 19:02:00 │ 2166-05-01 19:02:00 │
│   10047172 │ 34369439 │ WHITE         │ M       │ 2163-06-15 01:28:00 │ 2163-06-20 01:28:00 │
│   10048001 │ 31975834 │ WHITE         │ M       │ 2175-02-05 00:14:00 │ 2175-02-10 00:14:00 │
│       ·    │     ·    │   ·           │ ·       │          ·          │          ·          │
│       ·    │     ·    │   ·           │ ·       │          ·          │          ·          │
│       ·    │     ·    │   ·           │ ·       │          ·          │          ·          │
│   16147935 │ 35318623 │ BLACK         │ F       │ 2142-09-18 18:57:00 │ 2142-09-23 18:57:00 │
│   16154215 │ 31414281 │ WHITE         │ M       │ 2185-02-26 16:38:00 │ 2185-03-03 16:38:00 │
│   16157095 │ 31268865 │ WHITE         │ F       │ 2144-03-03 00:00:00 │ 2144-03-04 14:07:00 │
│   16175493 │ 39644183 │ BLACK         │ F       │ 2131-03-04 20:29:00 │ 2131-03-09 20:29:00 │
│   16178321 │ 39286106 │ WHITE         │ M       │ 2161-04-08 01:11:00 │ 2161-04-09 18:30:00 │
│   16179049 │ 31683355 │ WHITE         │ M       │ 2141-11-19 21:35:00 │ 2141-11-22 21:51:00 │
│   16193188 │ 38900173 │ WHITE         │ M       │ 2153-09-27 16:41:00 │ 2153-09-28 16:00:00 │
│   16198992 │ 30116733 │ WHITE         │ M       │ 2168-03-23 22:54:00 │ 2168-03-28 16:19:00 │
│   16203033 │ 30572338 │ WHITE         │ F       │ 2137-02-08 18:53:00 │ 2137-02-12 15:53:00 │
│   16203314 │ 39253734 │ WHITE         │ M       │ 2201-06-19 00:35:00 │ 2201-06-24 00:35:00 │
├────────────┴──────────┴───────────────┴─────────┴─────────────────────┴─────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                     6 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────┘

In [12]:
# Patients with documented rare/enthnicity by race
duckdb.sql("""
SELECT race_category, COUNT(*) FROM patient_with_race 
GROUP BY race_category
""")

┌───────────────┬──────────────┐
│ race_category │ count_star() │
│    varchar    │    int64     │
├───────────────┼──────────────┤
│ HISPANIC      │          915 │
│ BLACK         │         2259 │
│ WHITE         │        20496 │
│ ASIAN         │          738 │
└───────────────┴──────────────┘

In [13]:
reading_o2_flow = duckdb.sql("""
SELECT pwr.subject_id, od.charttime as chart_time, od.o2_flow FROM patient_with_index_period AS pwr
JOIN nasal_canula_o2_flow AS od ON  pwr.stay_id = od.stay_id
WHERE od.charttime BETWEEN pwr.ip_starttime AND pwr.ip_endtime AND od.o2_flow IS NOT NULL
ORDER BY pwr.subject_id, od.charttime
""")
reading_o2_flow

┌────────────┬─────────────────────┬─────────┐
│ subject_id │     chart_time      │ o2_flow │
│   int32    │      timestamp      │ double  │
├────────────┼─────────────────────┼─────────┤
│   10000032 │ 2180-07-23 14:20:00 │     2.0 │
│   10000032 │ 2180-07-23 18:00:00 │     2.0 │
│   10000032 │ 2180-07-23 20:00:00 │     2.0 │
│   10000980 │ 2189-06-27 10:00:00 │     3.0 │
│   10001217 │ 2157-11-20 19:47:00 │     2.0 │
│   10001217 │ 2157-11-20 22:00:00 │     2.0 │
│   10001217 │ 2157-11-21 00:00:00 │     2.0 │
│   10001217 │ 2157-11-21 02:00:00 │     2.0 │
│   10001217 │ 2157-11-21 08:00:00 │     2.0 │
│   10001217 │ 2157-11-21 18:00:00 │     3.0 │
│       ·    │          ·          │      ·  │
│       ·    │          ·          │      ·  │
│       ·    │          ·          │      ·  │
│   10524082 │ 2130-06-26 12:00:00 │     2.0 │
│   10524082 │ 2130-06-26 16:00:00 │     2.0 │
│   10524082 │ 2130-06-26 20:00:00 │     2.0 │
│   10524082 │ 2130-06-26 21:00:00 │     4.0 │
│   10524082 │ 2130-06-27 20:00:00 │     2.0 │
│   10524082 │ 2130-06-28 00:00:00 │     2.0 │
│   10524082 │ 2130-06-28 04:00:00 │     2.0 │
│   10524207 │ 2155-10-12 21:00:00 │     3.0 │
│   10524207 │ 2155-10-13 00:00:00 │     3.0 │
│   10524207 │ 2155-10-13 05:00:00 │     3.0 │
├────────────┴─────────────────────┴─────────┤
│ ? rows (>9999 rows, 20 shown)    3 columns │
└────────────────────────────────────────────┘

### Sp02

In [14]:
reading_spo2 = duckdb.sql("""
SELECT pwr.subject_id, vs.charttime as chart_time, vs.spo2 FROM patient_with_index_period AS pwr
JOIN mimiciv_derived.vitalsign AS vs ON  pwr.stay_id = vs.stay_id
WHERE vs.charttime BETWEEN pwr.ip_starttime AND pwr.ip_endtime AND vs.spo2 IS NOT NULL
ORDER BY pwr.subject_id, vs.charttime
""")
reading_spo2

┌────────────┬─────────────────────┬────────┐
│ subject_id │     chart_time      │  spo2  │
│   int32    │      timestamp      │ double │
├────────────┼─────────────────────┼────────┤
│   10000032 │ 2180-07-23 14:13:00 │   98.0 │
│   10000032 │ 2180-07-23 14:30:00 │   97.0 │
│   10000032 │ 2180-07-23 15:00:00 │   97.0 │
│   10000032 │ 2180-07-23 16:00:00 │   94.0 │
│   10000032 │ 2180-07-23 17:00:00 │   95.0 │
│   10000032 │ 2180-07-23 18:00:00 │   95.0 │
│   10000032 │ 2180-07-23 19:00:00 │   98.0 │
│   10000032 │ 2180-07-23 20:00:00 │   99.0 │
│   10000032 │ 2180-07-23 21:00:00 │   95.0 │
│   10000032 │ 2180-07-23 22:00:00 │   95.0 │
│       ·    │          ·          │     ·  │
│       ·    │          ·          │     ·  │
│       ·    │          ·          │     ·  │
│   10035185 │ 2120-05-14 02:00:00 │   98.0 │
│   10035185 │ 2120-05-14 03:00:00 │   98.0 │
│   10035185 │ 2120-05-14 04:00:00 │   98.0 │
│   10035185 │ 2120-05-14 05:00:00 │   98.0 │
│   10035185 │ 2120-05-14 06:00:00 │   98.0 │
│   10035185 │ 2120-05-14 07:00:00 │   99.0 │
│   10035185 │ 2120-05-14 08:00:00 │   99.0 │
│   10035185 │ 2120-05-14 09:00:00 │   98.0 │
│   10035185 │ 2120-05-14 10:00:00 │   99.0 │
│   10035185 │ 2120-05-14 11:00:00 │   99.0 │
├────────────┴─────────────────────┴────────┤
│ ? rows (>9999 rows, 20 shown)   3 columns │
└───────────────────────────────────────────┘

In [15]:
reading_so2 = duckdb.sql("""
SELECT pwr.subject_id, bg.charttime as chart_time, bg.so2 FROM patient_with_index_period AS pwr
JOIN mimiciv_derived.bg AS bg ON  pwr.subject_id = bg.subject_id
WHERE bg.charttime BETWEEN pwr.ip_starttime AND pwr.ip_endtime AND bg.so2 IS NOT NULL AND bg.specimen = 'ART.'
ORDER BY pwr.subject_id, bg.charttime
""")
reading_so2

┌────────────┬─────────────────────┬────────┐
│ subject_id │     chart_time      │  so2   │
│   int32    │      timestamp      │ double │
├────────────┼─────────────────────┼────────┤
│   10002013 │ 2160-05-18 16:03:00 │   99.0 │
│   10002013 │ 2160-05-18 17:42:00 │   96.0 │
│   10002013 │ 2160-05-18 21:32:00 │   97.0 │
│   10002155 │ 2129-08-05 07:48:00 │   94.0 │
│   10002443 │ 2183-10-18 02:35:00 │   90.0 │
│   10002760 │ 2141-04-20 16:10:00 │   97.0 │
│   10002760 │ 2141-04-20 18:18:00 │   99.0 │
│   10002760 │ 2141-04-21 02:04:00 │   99.0 │
│   10002760 │ 2141-04-21 04:03:00 │   99.0 │
│   10002760 │ 2141-04-21 06:04:00 │   98.0 │
│       ·    │          ·          │     ·  │
│       ·    │          ·          │     ·  │
│       ·    │          ·          │     ·  │
│   12412126 │ 2117-10-16 12:22:00 │   99.0 │
│   12412126 │ 2117-10-16 15:11:00 │   99.0 │
│   12412595 │ 2111-01-07 09:58:00 │   97.0 │
│   12412595 │ 2111-01-07 10:56:00 │   97.0 │
│   12413618 │ 2187-03-03 20:13:00 │   98.0 │
│   12413618 │ 2187-03-03 22:05:00 │   98.0 │
│   12413618 │ 2187-03-04 02:21:00 │   98.0 │
│   12413618 │ 2187-03-04 05:33:00 │   98.0 │
│   12413618 │ 2187-03-05 06:18:00 │   98.0 │
│   12413618 │ 2187-03-05 13:32:00 │   97.0 │
├────────────┴─────────────────────┴────────┤
│ ? rows (>9999 rows, 20 shown)   3 columns │
└───────────────────────────────────────────┘

## Perform final extract

In [16]:
coh_subject = duckdb.sql("""
SELECT subject_id, gender, race_category FROM patient_with_race AS pwr
WHERE 
    EXISTS( SELECT 1 FROM reading_o2_flow AS rof WHERE pwr.subject_id = rof.subject_id)
    AND EXISTS( SELECT 1 FROM reading_spo2 AS rs WHERE pwr.subject_id = rs.subject_id)
    AND EXISTS( SELECT 1 FROM reading_so2 AS rso WHERE pwr.subject_id = rso.subject_id)
""")
coh_subject

┌────────────┬─────────┬───────────────┐
│ subject_id │ gender  │ race_category │
│   int32    │ varchar │    varchar    │
├────────────┼─────────┼───────────────┤
│   10746848 │ F       │ WHITE         │
│   11124859 │ M       │ WHITE         │
│   11236474 │ F       │ BLACK         │
│   12538134 │ F       │ ASIAN         │
│   13299872 │ F       │ WHITE         │
│   13678296 │ M       │ WHITE         │
│   14393652 │ M       │ WHITE         │
│   15583708 │ M       │ WHITE         │
│   16003671 │ M       │ HISPANIC      │
│   16979799 │ M       │ WHITE         │
│       ·    │ ·       │   ·           │
│       ·    │ ·       │   ·           │
│       ·    │ ·       │   ·           │
│   15588339 │ M       │ WHITE         │
│   15921116 │ M       │ WHITE         │
│   15942459 │ F       │ WHITE         │
│   15968932 │ M       │ WHITE         │
│   16297202 │ M       │ WHITE         │
│   17841897 │ M       │ WHITE         │
│   17902431 │ M       │ WHITE         │
│   18483313 │ F       │ WHITE         │
│   18782148 │ M       │ WHITE         │
│   18871604 │ M       │ BLACK         │
├────────────┴─────────┴───────────────┤
│ 6824 rows (20 shown)       3 columns │
└──────────────────────────────────────┘

In [17]:
duckdb.sql("""
SELECT race_category, COUNT(*) FROM coh_subject GROUP BY  race_category
""")

┌───────────────┬──────────────┐
│ race_category │ count_star() │
│    varchar    │    int64     │
├───────────────┼──────────────┤
│ HISPANIC      │          231 │
│ BLACK         │          482 │
│ WHITE         │         5904 │
│ ASIAN         │          207 │
└───────────────┴──────────────┘

In [18]:
coh_reading_o2_flow = duckdb.sql("""
SELECT * FROM reading_o2_flow AS rd WHERE EXISTS( SELECT 1 FROM coh_subject AS cs WHERE rd.subject_id = cs.subject_id)
""")
coh_reading_spo2 = duckdb.sql("""
SELECT * FROM reading_spo2 AS rd WHERE EXISTS( SELECT 1 FROM coh_subject AS cs WHERE rd.subject_id = cs.subject_id)
""")
coh_reading_so2 = duckdb.sql("""
SELECT * FROM reading_so2 AS rd WHERE EXISTS( SELECT 1 FROM coh_subject AS cs WHERE rd.subject_id = cs.subject_id)
""")

### Save the extreact to cvs

In [19]:
coh_subject.to_csv('../data/psql_mimic-2.2/subject.csv')
coh_reading_o2_flow.to_csv('../data/psql_mimic-2.2/reading_o2_flow.csv')
coh_reading_spo2.to_csv('../data/psql_mimic-2.2/reading_spo2.csv')
coh_reading_so2.to_csv('../data/psql_mimic-2.2/reading_so2.csv')