In [1]:
import duckdb
duckdb.sql("ATTACH 'dbname=mimic1 user=szu004' AS db (TYPE POSTGRES, READ_ONLY)")
duckdb.sql("USE db")

In [2]:
# ALL ICU stays (paper reports 765,40)
duckdb.sql("SELECT COUNT(*) as icu_stay_count FROM mimic_derived.icustay_detail")

┌────────────────┐
│ icu_stay_count │
│     int64      │
├────────────────┤
│          76540 │
└────────────────┘

In [3]:
duckdb.sql("SELECT COUNT(DISTINCT subject_id) as icu_stay_count FROM mimic_derived.icustay_detail")

┌────────────────┐
│ icu_stay_count │
│     int64      │
├────────────────┤
│          53150 │
└────────────────┘

In [4]:
# Ventilation interventions
stays_with_interventions_org = duckdb.sql("""
WITH iws AS (
    SELECT stay_id, starttime as  inttime, ventilation_status AS int_type, row_number() OVER (PARTITION BY stay_id ORDER BY starttime) AS int_sequence
    FROM mimic_derived.ventilation
    WHERE ventilation_status NOT in ('None', 'SupplementalOxygen')
)
SELECT stay_id, inttime, int_type FROM iws WHERE int_sequence = 1
""")
stays_with_interventions_org.count("*")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        27096 │
└──────────────┘

In [5]:
# # Alternative way to get the first intervention
# ventilation_type = duckdb.sql("""
# WITH odd AS (
#     SELECT subject_id, stay_id, charttime, o2_delivery_device_1 AS o2_delivery_device FROM mimic_derived.oxygen_delivery
# --    UNION SELECT subject_id, stay_id, charttime, o2_delivery_device_2 AS o2_delivery_device FROM mimic_derived.oxygen_delivery
# --    UNION SELECT subject_id, stay_id, charttime, o2_delivery_device_3 AS o2_delivery_device FROM mimic_derived.oxygen_delivery
# --    UNION SELECT subject_id, stay_id, charttime, o2_delivery_device_4 AS o2_delivery_device FROM mimic_derived.oxygen_delivery
# ), odd1 AS (SELECT *, 
#     CASE
#     -- tracheostomy
#     WHEN o2_delivery_device IN (
#         'Tracheostomy tube',
#         'Trach mask ' -- 16435 observations
#         -- 'T-piece', -- 1135 observations (T-piece could be either InvasiveVent or Tracheostomy)
#         ) THEN 5
#     -- mechanical / invasive ventilation
#     WHEN o2_delivery_device IN (
#         'Endotracheal tube'
#         ) THEN 4
#     -- NIV
#     WHEN o2_delivery_device IN (
#         'Bipap mask ', -- 8997 observations
#         'CPAP mask ' -- 5568 observations
#         ) THEN 3
#     -- high flow nasal cannula
#     when o2_delivery_device IN (
#         'High flow nasal cannula' -- 925 observations
#         ) THEN 2
#     -- non rebreather
#     WHEN o2_delivery_device IN ( 
#         'Non-rebreather', -- 5182 observations
#         'Face tent', -- 24601 observations
#         'Aerosol-cool', -- 24560 observations
#         'Venti mask ', -- 1947 observations
#         'Medium conc mask ', -- 1888 observations
#         'Ultrasonic neb', -- 9 observations
#         'Vapomist', -- 3 observations
#         'Oxymizer', -- 1301 observations
#         'High flow neb', -- 10785 observations
#         'Nasal cannula'
#         ) THEN 1
#     WHEN o2_delivery_device in (
#         'None'
#      ) THEN 0
#     -- not categorized: other
#     ELSE NULL END AS ventilation_kind
# FROM odd WHERE o2_delivery_device  IS NOT NULL
# ), odd2 AS (
#     SELECT subject_id, stay_id, charttime, MAX(ventilation_kind) AS ventilation_class FROM odd1
#     WHERE ventilation_kind IS NOT NULL
#     GROUP BY subject_id, stay_id, charttime
# )
# SELECT subject_id, stay_id, charttime AS starttime,
#     CASE
#     WHEN ventilation_class = 5 THEN 'Tracheostomy'
#     WHEN ventilation_class = 4 THEN 'InvasiveVent'
#     WHEN ventilation_class = 3 THEN 'NonInvasiveVent'
#     when ventilation_class = 2 THEN 'HFNC'
#     WHEN ventilation_class = 1 THEN 'SupplementalOxygen'
#     WHEN ventilation_class = 0 THEN 'None'
#     ELSE NULL END AS ventilation_status
# FROM odd2
# UNION SELECT subject_id, stay_id, charttime AS starttime, 'InvasiveVent' AS ventilation_status FROM mimic_derived.ventilator_setting
# WHERE ventilator_mode IN
# (
#     '(S) CMV'
#     , 'APRV'
#     , 'APRV/Biphasic+ApnPress'
#     , 'APRV/Biphasic+ApnVol'
#     , 'APV (cmv)'
#     , 'Ambient'
#     , 'Apnea Ventilation'
#     , 'CMV'
#     , 'CMV/ASSIST'
#     , 'CMV/ASSIST/AutoFlow'
#     , 'CMV/AutoFlow'
#     , 'CPAP/PPS'
#     , 'CPAP/PSV'
#     , 'CPAP/PSV+Apn TCPL'
#     , 'CPAP/PSV+ApnPres'
#     , 'CPAP/PSV+ApnVol'
#     , 'MMV'
#     , 'MMV/AutoFlow'
#     , 'MMV/PSV'
#     , 'MMV/PSV/AutoFlow'
#     , 'P-CMV'
#     , 'PCV+'
#     , 'PCV+/PSV'
#     , 'PCV+Assist'
#     , 'PRES/AC'
#     , 'PRVC/AC'
#     , 'PRVC/SIMV'
#     , 'PSV/SBT'
#     , 'SIMV'
#     , 'SIMV/AutoFlow'
#     , 'SIMV/PRES'
#     , 'SIMV/PSV'
#     , 'SIMV/PSV/AutoFlow'
#     , 'SIMV/VOL'
#     , 'SYNCHRON MASTER'
#     , 'SYNCHRON SLAVE'
#     , 'VOL/AC'
# )
# OR ventilator_mode_hamilton IN
# (
#     'APRV'
#     , 'APV (cmv)'
#     , 'Ambient'
#     , '(S) CMV'
#     , 'P-CMV'
#     , 'SIMV'
#     , 'APV (simv)'
#     , 'P-SIMV'
#     , 'VS'
#     , 'ASV'
# )
# """)
# # UNION SELECT subject_id, stay_id, charttime AS starttime, 'NonInvasiveVent' AS ventilation_status FROM mimic_derived.ventilator_setting
# # WHERE ventilator_mode_hamilton IN
# # (
# #     'DuoPaP'
# #     , 'NIV'
# #     , 'NIV-ST'
# # )
# 
# ventilation_type

In [6]:
# Alternative way to get the first intervention
ventilation_type = duckdb.sql("""
WITH odd AS (
    SELECT subject_id, stay_id, charttime, o2_delivery_device_1 AS o2_delivery_device FROM mimic_derived.oxygen_delivery
    UNION SELECT subject_id, stay_id, charttime, o2_delivery_device_2 AS o2_delivery_device FROM mimic_derived.oxygen_delivery
    UNION SELECT subject_id, stay_id, charttime, o2_delivery_device_3 AS o2_delivery_device FROM mimic_derived.oxygen_delivery
    UNION SELECT subject_id, stay_id, charttime, o2_delivery_device_4 AS o2_delivery_device FROM mimic_derived.oxygen_delivery
), odd1 AS (SELECT *, 
    CASE
    -- tracheostomy
    WHEN o2_delivery_device IN (
        'Tracheostomy tube',
        'Trach mask ' -- 16435 observations
        -- 'T-piece', -- 1135 observations (T-piece could be either InvasiveVent or Tracheostomy)
        ) THEN 'Tracheostomy'
    -- mechanical / invasive ventilation
    WHEN o2_delivery_device IN (
        'Endotracheal tube'
        ) THEN 'InvasiveVent'
    -- NIV
    WHEN o2_delivery_device IN (
        'Bipap mask ', -- 8997 observations
        'CPAP mask ' -- 5568 observations
        ) THEN 'NonInvasiveVent'
    -- high flow nasal cannula
    when o2_delivery_device IN (
        'High flow nasal cannula' -- 925 observations
        ) THEN 'HFNC'
    -- non rebreather
    WHEN o2_delivery_device IN ( 
        'Non-rebreather', -- 5182 observations
        'Face tent', -- 24601 observations
        'Aerosol-cool', -- 24560 observations
        'Venti mask ', -- 1947 observations
        'Medium conc mask ', -- 1888 observations
        'Ultrasonic neb', -- 9 observations
        'Vapomist', -- 3 observations
        'Oxymizer', -- 1301 observations
        'High flow neb', -- 10785 observations
        'Nasal cannula'
        ) THEN 'SupplementalOxygen'
    WHEN o2_delivery_device in (
        'None'
     ) THEN 'None'
    -- not categorized: other
    ELSE NULL END AS ventilation_status
FROM odd WHERE o2_delivery_device  IS NOT NULL
)
SELECT subject_id, stay_id, charttime AS starttime, ventilation_status FROM odd1
""")
ventilation_type
stays_with_interventions = duckdb.sql("""
WITH iws AS (
    SELECT stay_id, starttime as  inttime, ventilation_status AS int_type,
row_number() OVER (PARTITION BY stay_id ORDER BY starttime) AS int_sequence
FROM ventilation_type
WHERE ventilation_status NOT in ('None', 'SupplementalOxygen') AND ventilation_status IS NOT NULL
)
SELECT stay_id, inttime, int_type FROM iws WHERE int_sequence = 1
""")
stays_with_interventions.count("*")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         9757 │
└──────────────┘

In [7]:
# Ventilation interventions
stays_with_interventions_full = duckdb.sql("""
WITH tm AS
(
  SELECT stay_id, charttime
  FROM mimic_derived.ventilator_setting
  UNION DISTINCT
  SELECT stay_id, charttime
  FROM mimic_derived.oxygen_delivery
)
, vs AS
(
    SELECT tm.stay_id, tm.charttime
    -- source data columns, here for debug
    , o2_delivery_device_1
    , COALESCE(ventilator_mode, ventilator_mode_hamilton) AS vent_mode
    -- case statement determining the type of intervention
    -- done in order of priority: trach > mech vent > NIV > high flow > o2
    , CASE
    -- tracheostomy
    WHEN o2_delivery_device_1 IN
    (
        'Tracheostomy tube',
        'Trach mask ' -- 16435 observations
        -- 'T-piece', -- 1135 observations (T-piece could be either InvasiveVent or Tracheostomy)

    )
        THEN 'Tracheostomy'
    -- mechanical / invasive ventilation
    WHEN o2_delivery_device_1 IN
    (
        'Endotracheal tube'
    )
    OR ventilator_mode IN
    (
        '(S) CMV',
        'APRV',
        'APRV/Biphasic+ApnPress',
        'APRV/Biphasic+ApnVol',
        'APV (cmv)',
        'Ambient',
        'Apnea Ventilation',
        'CMV',
        'CMV/ASSIST',
        'CMV/ASSIST/AutoFlow',
        'CMV/AutoFlow',
        'CPAP/PPS',
        'CPAP/PSV+Apn TCPL',
        'CPAP/PSV+ApnPres',
        'CPAP/PSV+ApnVol',
        'MMV',
        'MMV/AutoFlow',
        'MMV/PSV',
        'MMV/PSV/AutoFlow',
        'P-CMV',
        'PCV+',
        'PCV+/PSV',
        'PCV+Assist',
        'PRES/AC',
        'PRVC/AC',
        'PRVC/SIMV',
        'PSV/SBT',
        'SIMV',
        'SIMV/AutoFlow',
        'SIMV/PRES',
        'SIMV/PSV',
        'SIMV/PSV/AutoFlow',
        'SIMV/VOL',
        'SYNCHRON MASTER',
        'SYNCHRON SLAVE',
        'VOL/AC'
    )
    OR ventilator_mode_hamilton IN
    (
        'APRV',
        'APV (cmv)',
        'Ambient',
        '(S) CMV',
        'P-CMV',
        'SIMV',
        'APV (simv)',
        'P-SIMV',
        'VS',
        'ASV'
    )
        THEN 'InvasiveVent'
    -- NIV
    WHEN o2_delivery_device_1 IN
    (
        'Bipap mask ', -- 8997 observations
        'CPAP mask ' -- 5568 observations
    )
    OR ventilator_mode_hamilton IN
    (
        'DuoPaP',
        'NIV',
        'NIV-ST'
    )
        THEN 'NonInvasiveVent'
    -- high flow nasal cannula
    when o2_delivery_device_1 IN
    (
        'High flow nasal cannula' -- 925 observations
    )
        THEN 'HFNC'
    -- non rebreather
    WHEN o2_delivery_device_1 in
    ( 
        'Non-rebreather', -- 5182 observations
        'Face tent', -- 24601 observations
        'Aerosol-cool', -- 24560 observations
        'Venti mask ', -- 1947 observations
        'Medium conc mask ', -- 1888 observations
        'Ultrasonic neb', -- 9 observations
        'Vapomist', -- 3 observations
        'Oxymizer', -- 1301 observations
        'High flow neb', -- 10785 observations
        'Nasal cannula'
    )
        THEN 'SupplementalOxygen'
    WHEN o2_delivery_device_1 in 
    (
        'None'
    )
        THEN 'None'
    -- not categorized: other
    ELSE NULL END AS ventilation_status
  FROM tm
  LEFT JOIN mimic_derived.ventilator_setting vs
      ON tm.stay_id = vs.stay_id
      AND tm.charttime = vs.charttime
  LEFT JOIN mimic_derived.oxygen_delivery od
      ON tm.stay_id = od.stay_id
      AND tm.charttime = od.charttime
)
, vd0 AS
(
    SELECT
      stay_id, charttime
      -- source data columns, here for debug
      -- , o2_delivery_device_1
      -- , vent_mode
      -- carry over the previous charttime which had the same state
      , LAG(charttime, 1) OVER (PARTITION BY stay_id, ventilation_status ORDER BY charttime) AS charttime_lag
      -- bring back the next charttime, regardless of the state
      -- this will be used as the end time for state transitions
      , LEAD(charttime, 1) OVER w AS charttime_lead
      , ventilation_status
      , LAG(ventilation_status, 1) OVER w AS ventilation_status_lag
    FROM vs
    WHERE ventilation_status IS NOT NULL
    WINDOW w AS (PARTITION BY stay_id ORDER BY charttime)
)
, vd1 as
(
    SELECT
        stay_id
        , charttime
        , charttime_lag
        , charttime_lead
        , ventilation_status

        -- source data columns, here for debug
        -- , o2_delivery_device_1
        -- , vent_mode

        -- calculate the time since the last event
        , (charttime - charttime_lag)  as ventduration

        -- now we determine if the current ventilation status is "new", or continuing the previous
        , CASE
            -- if lag is null, this is the first event for the patient
            WHEN ventilation_status_lag IS NULL THEN 1
            -- a 14 hour gap always initiates a new event
            WHEN (charttime - charttime_lag) >= INTERVAL '14 h' THEN 1
            -- not a new event if identical to the last row
            WHEN ventilation_status_lag != ventilation_status THEN 1
          ELSE 0
          END AS new_ventilation_event
    FROM vd0
)
, vd2 as
(
    SELECT vd1.stay_id, vd1.charttime
    , vd1.charttime_lead, vd1.ventilation_status
    , ventduration, new_ventilation_event
    -- create a cumulative sum of the instances of new ventilation
    -- this results in a monotonically increasing integer assigned 
    -- to each instance of ventilation
    , SUM(new_ventilation_event) OVER
    (
        PARTITION BY stay_id
        ORDER BY charttime
    ) AS vent_seq
    FROM vd1
), ventilation_type AS (
-- create the durations for each ventilation instance
SELECT stay_id
  , MIN(charttime) AS starttime
  -- for the end time of the ventilation event, the time of the *next* setting
  -- i.e. if we go NIV -> O2, the end time of NIV is the first row with a documented O2 device
  -- ... unless it's been over 14 hours, in which case it's the last row with a documented NIV.
  , MAX(
        CASE
            WHEN charttime_lead IS NULL
            OR (charttime_lead - charttime) >= INTERVAL '14 h'
                THEN charttime
        ELSE charttime_lead
        END
   ) AS endtime
   -- all rows with the same vent_num will have the same ventilation_status
   -- for efficiency, we use an aggregate here,
   -- but we could equally well group by this column
  , MAX(ventilation_status) AS ventilation_status
FROM vd2
GROUP BY stay_id, vent_seq
HAVING min(charttime) != max(charttime)
) , iws AS (
    SELECT stay_id, starttime as  inttime, ventilation_status AS int_type, 
    row_number() OVER (PARTITION BY stay_id ORDER BY starttime) AS int_sequence
    FROM ventilation_type
    WHERE ventilation_status NOT in ('None', 'SupplementalOxygen') AND ventilation_status IS NOT NULL
)
SELECT stay_id, inttime, int_type FROM iws WHERE int_sequence = 1
""")
stays_with_interventions_full.count("*")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        27096 │
└──────────────┘

In [8]:
# Patients with index period
patient_with_index_period=duckdb.sql("""
WITH patient_with_intervention AS (
    SELECT isd.*, v.inttime, v.int_type FROM mimic_derived.icustay_detail AS isd
    LEFT OUTER JOIN stays_with_interventions AS v ON isd.stay_id = v.stay_id
    WHERE first_icu_stay AND first_hosp_stay
)
SELECT subject_id, stay_id, gender, ethnicity, 
    admittime AS ip_starttime,
    GREATEST(admittime, LEAST( dischtime, inttime, admittime + interval '5 days')) AS ip_endtime,
    inttime, int_type
    FROM patient_with_intervention
""")
patient_with_index_period.df()

,subject_id,stay_id,gender,ethnicity,ip_starttime,ip_endtime,inttime,int_type
0,10001884,37510196,F,BLACK/AFRICAN AMERICAN,2131-01-07 20:39:00,2131-01-12 20:39:00,2131-01-19 18:40:00,InvasiveVent
1,10002155,33685454,F,WHITE,2129-08-04 12:44:00,2129-08-08 12:00:00,2129-08-08 12:00:00,HFNC
2,10002348,32610785,F,WHITE,2112-11-30 22:22:00,2112-12-05 02:45:00,2112-12-05 02:45:00,Tracheostomy
3,10002430,38392119,M,WHITE,2129-06-13 00:00:00,2129-06-13 07:00:00,2129-06-13 07:00:00,HFNC
4,10004401,32773003,M,WHITE,2144-01-23 07:58:00,2144-01-28 07:58:00,2144-02-03 08:00:00,Tracheostomy
...,...,...,...,...,...,...,...,...
53145,19975121,33599105,F,WHITE,2118-01-18 00:58:00,2118-01-21 08:00:00,2118-01-21 08:00:00,HFNC
53146,19984860,31082854,F,HISPANIC/LATINO,2114-03-04 20:59:00,2114-03-09 00:15:00,2114-03-09 00:15:00,InvasiveVent
53147,19991538,39801924,M,WHITE,2188-11-24 07:01:00,2188-11-29 07:01:00,2188-12-13 11:00:00,Tracheostomy
53148,19911351,30936772,M,UNKNOWN,2139-02-27 20:07:00,2139-03-04 20:07:00,2139-03-06 15:00:00,InvasiveVent
53149,19952522,35489970,F,WHITE,2171-11-30 15:52:00,2171-12-05 15:52:00,2171-12-06 20:00:00,HFNC

In [9]:
## VALIDATE: Patients with index period
# Unique patients (subject id)
assert duckdb.sql("SELECT subject_id, COUNT(*) FROM patient_with_index_period GROUP BY subject_id HAVING COUNT(*) > 1").fetchone() is None
# Unique stays (stay id)
assert duckdb.sql("SELECT stay_id, COUNT(*) FROM patient_with_index_period GROUP BY stay_id HAVING COUNT(*) > 1").fetchone() is None
# valid index period (ip_endtime >= ip_starttime)
assert duckdb.sql("SELECT * FROM patient_with_index_period WHERE ip_endtime < ip_starttime").fetchone() is None
# max lenth of index period is 5 days
assert duckdb.sql("SELECT * FROM patient_with_index_period WHERE ip_endtime - ip_starttime > interval '5 days'").fetchone() is None

In [10]:
# Valida nasal canula o2 flow
nasal_canula_o2_flow = duckdb.sql("""
WITH nc_o2 AS (
    SELECT *, LEAST(o2_flow, o2_flow_additional) AS o2_flow_nc FROM mimic_derived.oxygen_delivery WHERE o2_delivery_device_1 = 'Nasal cannula' AND o2_delivery_device_2 IS NULL
) 
SELECT subject_id, stay_id, charttime, o2_flow_nc AS o2_flow FROM nc_o2 WHERE o2_flow_nc <= 6
""")
nasal_canula_o2_flow

┌────────────┬──────────┬─────────────────────┬─────────┐
│ subject_id │ stay_id  │      charttime      │ o2_flow │
│   int32    │  int32   │      timestamp      │ double  │
├────────────┼──────────┼─────────────────────┼─────────┤
│   10000032 │ 39553978 │ 2180-07-23 14:20:00 │     2.0 │
│   10000032 │ 39553978 │ 2180-07-23 18:00:00 │     2.0 │
│   10000032 │ 39553978 │ 2180-07-23 20:00:00 │     2.0 │
│   10000980 │ 39765666 │ 2189-06-27 10:00:00 │     3.0 │
│   10001217 │ 37067082 │ 2157-11-20 19:47:00 │     2.0 │
│   10001217 │ 37067082 │ 2157-11-20 22:00:00 │     2.0 │
│   10001217 │ 37067082 │ 2157-11-21 00:00:00 │     2.0 │
│   10001217 │ 37067082 │ 2157-11-21 02:00:00 │     2.0 │
│   10001217 │ 37067082 │ 2157-11-21 08:00:00 │     2.0 │
│   10001217 │ 37067082 │ 2157-11-21 18:00:00 │     3.0 │
│       ·    │     ·    │          ·          │      ·  │
│       ·    │     ·    │          ·          │      ·  │
│       ·    │     ·    │          ·          │      ·  │
│   10254774 │ 38236413 │ 2119-02-15 18:00:00 │     4.0 │
│   10254774 │ 38236413 │ 2119-02-15 19:00:00 │     4.0 │
│   10254774 │ 38236413 │ 2119-02-15 20:00:00 │     4.0 │
│   10254774 │ 38236413 │ 2119-02-16 00:00:00 │     4.0 │
│   10254774 │ 38236413 │ 2119-02-16 04:00:00 │     4.0 │
│   10254774 │ 38236413 │ 2119-02-16 08:00:00 │     4.0 │
│   10254774 │ 38236413 │ 2119-02-16 12:00:00 │     4.0 │
│   10254774 │ 38236413 │ 2119-02-16 16:00:00 │     4.0 │
│   10254774 │ 38236413 │ 2119-02-16 18:00:00 │     3.0 │
│   10254774 │ 38236413 │ 2119-02-16 20:00:00 │     3.0 │
├────────────┴──────────┴─────────────────────┴─────────┤
│ ? rows (>9999 rows, 20 shown)               4 columns │
└───────────────────────────────────────────────────────┘

In [11]:
patient_with_o2_data = duckdb.sql("""
SELECT * FROM patient_with_index_period AS pwi 
WHERE EXISTS( SELECT 1 FROM nasal_canula_o2_flow AS nco WHERE pwi.stay_id = nco.stay_id AND nco.charttime BETWEEN pwi.ip_starttime AND pwi.ip_endtime)
""")
patient_with_o2_data

┌────────────┬──────────┬─────────┬──────────────────┬───┬─────────────────────┬─────────────────────┬─────────────────┐
│ subject_id │ stay_id  │ gender  │    ethnicity     │ … │     ip_endtime      │       inttime       │    int_type     │
│   int32    │  int32   │ varchar │     varchar      │   │      timestamp      │      timestamp      │     varchar     │
├────────────┼──────────┼─────────┼──────────────────┼───┼─────────────────────┼─────────────────────┼─────────────────┤
│   10103795 │ 31411464 │ M       │ WHITE            │ … │ 2176-07-06 16:56:00 │ 2176-07-09 22:00:00 │ Tracheostomy    │
│   10119017 │ 31009936 │ M       │ ASIAN            │ … │ 2159-08-13 15:00:00 │ 2159-08-13 15:00:00 │ HFNC            │
│   10259667 │ 35629197 │ M       │ WHITE            │ … │ 2171-04-21 00:00:00 │ 2171-04-21 00:00:00 │ NonInvasiveVent │
│   10005606 │ 38740124 │ M       │ WHITE            │ … │ 2143-12-11 00:54:00 │ NULL                │ NULL            │
│   10026868 │ 31030669 │ M       │ WHITE            │ … │ 2149-10-30 14:42:00 │ NULL                │ NULL            │
│   10027704 │ 36187473 │ M       │ WHITE            │ … │ 2149-04-08 10:39:00 │ NULL                │ NULL            │
│   10029514 │ 39053313 │ M       │ UNKNOWN          │ … │ 2112-10-10 21:58:00 │ NULL                │ NULL            │
│   10035787 │ 36110350 │ M       │ WHITE            │ … │ 2115-06-10 16:27:00 │ NULL                │ NULL            │
│   10046234 │ 32902460 │ M       │ WHITE            │ … │ 2166-05-01 19:02:00 │ NULL                │ NULL            │
│   10047172 │ 34369439 │ M       │ WHITE            │ … │ 2163-06-20 01:28:00 │ NULL                │ NULL            │
│       ·    │     ·    │ ·       │   ·              │ · │          ·          │  ·                  │  ·              │
│       ·    │     ·    │ ·       │   ·              │ · │          ·          │  ·                  │  ·              │
│       ·    │     ·    │ ·       │   ·              │ · │          ·          │  ·                  │  ·              │
│   12539479 │ 32405811 │ M       │ WHITE            │ … │ 2129-12-31 10:45:00 │ NULL                │ NULL            │
│   12544783 │ 36727026 │ M       │ WHITE            │ … │ 2180-05-11 10:57:00 │ NULL                │ NULL            │
│   12553477 │ 35371896 │ F       │ UNABLE TO OBTAIN │ … │ 2181-11-06 04:46:00 │ NULL                │ NULL            │
│   12555865 │ 35294648 │ F       │ UNKNOWN          │ … │ 2162-01-03 04:41:00 │ NULL                │ NULL            │
│   12556596 │ 39596624 │ M       │ WHITE            │ … │ 2120-02-28 17:28:00 │ NULL                │ NULL            │
│   12557373 │ 39507414 │ M       │ WHITE            │ … │ 2174-03-16 19:14:00 │ NULL                │ NULL            │
│   12558806 │ 34962172 │ M       │ WHITE            │ … │ 2159-02-21 17:44:00 │ NULL                │ NULL            │
│   12559894 │ 36957843 │ M       │ ASIAN            │ … │ 2192-07-08 18:03:00 │ NULL                │ NULL            │
│   12566498 │ 30410162 │ M       │ WHITE            │ … │ 2159-07-12 22:04:00 │ NULL                │ NULL            │
│   12573085 │ 37331256 │ M       │ ASIAN            │ … │ 2138-04-16 00:00:00 │ NULL                │ NULL            │
├────────────┴──────────┴─────────┴──────────────────┴───┴─────────────────────┴─────────────────────┴─────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                    8 columns (7 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [12]:
# Initial cohort from the paper: 25,340
patient_with_o2_data.count("*")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        30300 │
└──────────────┘

In [13]:
patient_with_race = duckdb.sql("""
WITH patients AS (
    SELECT *,
    CASE
        WHEN ethnicity LIKE 'ASIAN%' THEN 'ASIAN'
        WHEN ethnicity LIKE 'BLACK%' THEN 'BLACK'
        WHEN ethnicity LIKE 'WHITE%' THEN 'WHITE'
        WHEN ethnicity LIKE 'HISPANIC%' THEN 'HISPANIC'
        END AS race_category
    FROM patient_with_o2_data)
SELECT subject_id, stay_id, race_category, gender, ip_starttime, ip_endtime  FROM patients WHERE race_category IS NOT NULL
""")
patient_with_race

┌────────────┬──────────┬───────────────┬─────────┬─────────────────────┬─────────────────────┐
│ subject_id │ stay_id  │ race_category │ gender  │    ip_starttime     │     ip_endtime      │
│   int32    │  int32   │    varchar    │ varchar │      timestamp      │      timestamp      │
├────────────┼──────────┼───────────────┼─────────┼─────────────────────┼─────────────────────┤
│   10103795 │ 31411464 │ WHITE         │ M       │ 2176-07-01 16:56:00 │ 2176-07-06 16:56:00 │
│   10119017 │ 31009936 │ ASIAN         │ M       │ 2159-08-10 23:55:00 │ 2159-08-13 15:00:00 │
│   10259667 │ 35629197 │ WHITE         │ M       │ 2171-04-18 12:35:00 │ 2171-04-21 00:00:00 │
│   10005606 │ 38740124 │ WHITE         │ M       │ 2143-12-06 00:54:00 │ 2143-12-11 00:54:00 │
│   10026868 │ 31030669 │ WHITE         │ M       │ 2149-10-25 14:42:00 │ 2149-10-30 14:42:00 │
│   10027704 │ 36187473 │ WHITE         │ M       │ 2149-04-03 10:39:00 │ 2149-04-08 10:39:00 │
│   10035787 │ 36110350 │ WHITE         │ M       │ 2115-06-06 00:00:00 │ 2115-06-10 16:27:00 │
│   10046234 │ 32902460 │ WHITE         │ M       │ 2166-04-26 19:02:00 │ 2166-05-01 19:02:00 │
│   10047172 │ 34369439 │ WHITE         │ M       │ 2163-06-15 01:28:00 │ 2163-06-20 01:28:00 │
│   10048001 │ 31975834 │ WHITE         │ M       │ 2175-02-05 00:14:00 │ 2175-02-10 00:14:00 │
│       ·    │     ·    │   ·           │ ·       │          ·          │          ·          │
│       ·    │     ·    │   ·           │ ·       │          ·          │          ·          │
│       ·    │     ·    │   ·           │ ·       │          ·          │          ·          │
│   12898018 │ 38828155 │ WHITE         │ M       │ 2186-12-06 20:18:00 │ 2186-12-11 20:18:00 │
│   12928422 │ 34569680 │ BLACK         │ M       │ 2175-09-12 01:41:00 │ 2175-09-16 17:06:00 │
│   12940989 │ 31516522 │ WHITE         │ M       │ 2171-11-10 20:36:00 │ 2171-11-12 17:33:00 │
│   12943080 │ 30791561 │ WHITE         │ M       │ 2144-12-14 18:27:00 │ 2144-12-15 17:30:00 │
│   12945435 │ 32601945 │ WHITE         │ M       │ 2155-01-15 15:13:00 │ 2155-01-20 15:13:00 │
│   12954889 │ 36750781 │ WHITE         │ F       │ 2121-11-25 00:00:00 │ 2121-11-26 04:00:00 │
│   13092399 │ 30022287 │ HISPANIC      │ M       │ 2118-08-04 05:57:00 │ 2118-08-06 01:00:00 │
│   13144697 │ 37714884 │ WHITE         │ F       │ 2134-01-25 14:00:00 │ 2134-01-30 04:00:00 │
│   12943458 │ 33884935 │ WHITE         │ F       │ 2165-01-06 01:23:00 │ 2165-01-09 16:50:00 │
│   12947350 │ 31997538 │ WHITE         │ M       │ 2170-09-24 17:41:00 │ 2170-09-26 12:12:00 │
├────────────┴──────────┴───────────────┴─────────┴─────────────────────┴─────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                     6 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────┘

In [14]:
# Patients with documented rare/enthnicity by race
duckdb.sql("""
SELECT race_category, COUNT(*) FROM patient_with_race 
GROUP BY race_category
""")

┌───────────────┬──────────────┐
│ race_category │ count_star() │
│    varchar    │    int64     │
├───────────────┼──────────────┤
│ BLACK         │         2361 │
│ HISPANIC      │          955 │
│ WHITE         │        21455 │
│ ASIAN         │          774 │
└───────────────┴──────────────┘

In [15]:
reading_o2_flow = duckdb.sql("""
SELECT pwr.subject_id, od.charttime as chart_time, od.o2_flow FROM patient_with_index_period AS pwr
JOIN nasal_canula_o2_flow AS od ON  pwr.stay_id = od.stay_id
WHERE od.charttime BETWEEN pwr.ip_starttime AND pwr.ip_endtime AND od.o2_flow IS NOT NULL
ORDER BY pwr.subject_id, od.charttime
""")
reading_o2_flow

┌────────────┬─────────────────────┬─────────┐
│ subject_id │     chart_time      │ o2_flow │
│   int32    │      timestamp      │ double  │
├────────────┼─────────────────────┼─────────┤
│   10000032 │ 2180-07-23 14:20:00 │     2.0 │
│   10000032 │ 2180-07-23 18:00:00 │     2.0 │
│   10000032 │ 2180-07-23 20:00:00 │     2.0 │
│   10000980 │ 2189-06-27 10:00:00 │     3.0 │
│   10001217 │ 2157-11-20 19:47:00 │     2.0 │
│   10001217 │ 2157-11-20 22:00:00 │     2.0 │
│   10001217 │ 2157-11-21 00:00:00 │     2.0 │
│   10001217 │ 2157-11-21 02:00:00 │     2.0 │
│   10001217 │ 2157-11-21 08:00:00 │     2.0 │
│   10001217 │ 2157-11-21 18:00:00 │     3.0 │
│       ·    │          ·          │      ·  │
│       ·    │          ·          │      ·  │
│       ·    │          ·          │      ·  │
│   10500453 │ 2131-07-01 06:00:00 │     2.0 │
│   10500453 │ 2131-07-01 09:00:00 │     2.0 │
│   10500453 │ 2131-07-01 12:00:00 │     2.0 │
│   10500453 │ 2131-07-02 03:45:00 │     2.0 │
│   10500792 │ 2143-07-09 04:00:00 │     2.0 │
│   10500792 │ 2143-07-09 05:00:00 │     3.0 │
│   10500792 │ 2143-07-09 07:00:00 │     3.0 │
│   10500792 │ 2143-07-09 12:00:00 │     3.0 │
│   10500792 │ 2143-07-09 16:00:00 │     3.0 │
│   10501044 │ 2162-12-17 02:28:00 │     4.0 │
├────────────┴─────────────────────┴─────────┤
│ ? rows (>9999 rows, 20 shown)    3 columns │
└────────────────────────────────────────────┘

### Sp02

In [16]:
reading_spo2 = duckdb.sql("""
SELECT pwr.subject_id, vs.charttime as chart_time, vs.spo2 FROM patient_with_index_period AS pwr
JOIN mimic_derived.vitalsign AS vs ON  pwr.stay_id = vs.stay_id
WHERE vs.charttime BETWEEN pwr.ip_starttime AND pwr.ip_endtime AND vs.spo2 IS NOT NULL
ORDER BY pwr.subject_id, vs.charttime
""")
reading_spo2

┌────────────┬─────────────────────┬────────┐
│ subject_id │     chart_time      │  spo2  │
│   int32    │      timestamp      │ double │
├────────────┼─────────────────────┼────────┤
│   10000032 │ 2180-07-23 14:13:00 │   98.0 │
│   10000032 │ 2180-07-23 14:30:00 │   97.0 │
│   10000032 │ 2180-07-23 15:00:00 │   97.0 │
│   10000032 │ 2180-07-23 16:00:00 │   94.0 │
│   10000032 │ 2180-07-23 17:00:00 │   95.0 │
│   10000032 │ 2180-07-23 18:00:00 │   95.0 │
│   10000032 │ 2180-07-23 19:00:00 │   98.0 │
│   10000032 │ 2180-07-23 20:00:00 │   99.0 │
│   10000032 │ 2180-07-23 21:00:00 │   95.0 │
│   10000032 │ 2180-07-23 22:00:00 │   95.0 │
│       ·    │          ·          │     ·  │
│       ·    │          ·          │     ·  │
│       ·    │          ·          │     ·  │
│   10032409 │ 2128-10-12 04:00:00 │   96.0 │
│   10032409 │ 2128-10-12 05:00:00 │   96.0 │
│   10032409 │ 2128-10-12 06:00:00 │   96.0 │
│   10032409 │ 2128-10-12 07:00:00 │   96.0 │
│   10032409 │ 2128-10-12 08:00:00 │   95.0 │
│   10032409 │ 2128-10-12 09:00:00 │  100.0 │
│   10032409 │ 2128-10-12 10:00:00 │   98.0 │
│   10032409 │ 2128-10-12 11:00:00 │   96.0 │
│   10032409 │ 2128-10-12 12:00:00 │   98.0 │
│   10032409 │ 2128-10-12 13:00:00 │   96.0 │
├────────────┴─────────────────────┴────────┤
│ ? rows (>9999 rows, 20 shown)   3 columns │
└───────────────────────────────────────────┘

In [17]:
reading_so2 = duckdb.sql("""
SELECT pwr.subject_id, bg.charttime as chart_time, bg.so2 FROM patient_with_index_period AS pwr
JOIN mimic_derived.bg AS bg ON  pwr.subject_id = bg.subject_id
WHERE bg.charttime BETWEEN pwr.ip_starttime AND pwr.ip_endtime AND bg.so2 IS NOT NULL AND bg.specimen = 'ART.'
ORDER BY pwr.subject_id, bg.charttime
""")
reading_so2

┌────────────┬─────────────────────┬────────┐
│ subject_id │     chart_time      │  so2   │
│   int32    │      timestamp      │ double │
├────────────┼─────────────────────┼────────┤
│   10002013 │ 2160-05-18 16:03:00 │   99.0 │
│   10002013 │ 2160-05-18 17:42:00 │   96.0 │
│   10002013 │ 2160-05-18 21:32:00 │   97.0 │
│   10002155 │ 2129-08-05 07:48:00 │   94.0 │
│   10002443 │ 2183-10-18 02:35:00 │   90.0 │
│   10002760 │ 2141-04-20 16:10:00 │   97.0 │
│   10002760 │ 2141-04-20 18:18:00 │   99.0 │
│   10002760 │ 2141-04-21 02:04:00 │   99.0 │
│   10002760 │ 2141-04-21 04:03:00 │   99.0 │
│   10002760 │ 2141-04-21 06:04:00 │   98.0 │
│       ·    │          ·          │     ·  │
│       ·    │          ·          │     ·  │
│       ·    │          ·          │     ·  │
│   12290376 │ 2160-08-08 01:20:00 │   99.0 │
│   12294267 │ 2166-03-31 21:42:00 │   88.0 │
│   12294554 │ 2178-02-03 23:52:00 │   97.0 │
│   12296431 │ 2133-09-28 15:08:00 │   99.0 │
│   12296431 │ 2133-09-28 19:39:00 │   98.0 │
│   12296431 │ 2133-09-28 22:30:00 │   96.0 │
│   12297844 │ 2112-11-29 07:51:00 │   98.0 │
│   12297844 │ 2112-11-29 14:21:00 │   95.0 │
│   12297844 │ 2112-11-29 17:28:00 │   98.0 │
│   12297844 │ 2112-11-29 19:01:00 │   95.0 │
├────────────┴─────────────────────┴────────┤
│ ? rows (>9999 rows, 20 shown)   3 columns │
└───────────────────────────────────────────┘

## Perform final extract

In [18]:
coh_subject = duckdb.sql("""
SELECT subject_id, gender, race_category FROM patient_with_race AS pwr
WHERE 
    EXISTS( SELECT 1 FROM reading_o2_flow AS rof WHERE pwr.subject_id = rof.subject_id)
    AND EXISTS( SELECT 1 FROM reading_spo2 AS rs WHERE pwr.subject_id = rs.subject_id)
    AND EXISTS( SELECT 1 FROM reading_so2 AS rso WHERE pwr.subject_id = rso.subject_id)
""")
coh_subject

┌────────────┬─────────┬───────────────┐
│ subject_id │ gender  │ race_category │
│   int32    │ varchar │    varchar    │
├────────────┼─────────┼───────────────┤
│   10746848 │ F       │ WHITE         │
│   11124859 │ M       │ WHITE         │
│   11236474 │ F       │ BLACK         │
│   12538134 │ F       │ ASIAN         │
│   13299872 │ F       │ WHITE         │
│   13678296 │ M       │ WHITE         │
│   14393652 │ M       │ WHITE         │
│   15583708 │ M       │ WHITE         │
│   16003671 │ M       │ HISPANIC      │
│   16979799 │ M       │ WHITE         │
│       ·    │ ·       │   ·           │
│       ·    │ ·       │   ·           │
│       ·    │ ·       │   ·           │
│   15588339 │ M       │ WHITE         │
│   15921116 │ M       │ WHITE         │
│   15942459 │ F       │ WHITE         │
│   15968932 │ M       │ WHITE         │
│   16297202 │ M       │ WHITE         │
│   17841897 │ M       │ WHITE         │
│   17902431 │ M       │ WHITE         │
│   18483313 │ F       │ WHITE         │
│   18782148 │ M       │ WHITE         │
│   18871604 │ M       │ BLACK         │
├────────────┴─────────┴───────────────┤
│ 7140 rows (20 shown)       3 columns │
└──────────────────────────────────────┘

In [19]:
duckdb.sql("""
SELECT race_category, COUNT(*) FROM coh_subject GROUP BY  race_category
""")

┌───────────────┬──────────────┐
│ race_category │ count_star() │
│    varchar    │    int64     │
├───────────────┼──────────────┤
│ HISPANIC      │          237 │
│ BLACK         │          499 │
│ WHITE         │         6184 │
│ ASIAN         │          220 │
└───────────────┴──────────────┘

In [20]:
coh_reading_o2_flow = duckdb.sql("""
SELECT * FROM reading_o2_flow AS rd WHERE EXISTS( SELECT 1 FROM coh_subject AS cs WHERE rd.subject_id = cs.subject_id)
""")
coh_reading_spo2 = duckdb.sql("""
SELECT * FROM reading_spo2 AS rd WHERE EXISTS( SELECT 1 FROM coh_subject AS cs WHERE rd.subject_id = cs.subject_id)
""")
coh_reading_so2 = duckdb.sql("""
SELECT * FROM reading_so2 AS rd WHERE EXISTS( SELECT 1 FROM coh_subject AS cs WHERE rd.subject_id = cs.subject_id)
""")

### Save the extreact to cvs

In [21]:
coh_subject.to_csv('../data/psql_mimic-1.0_alt/subject.csv')
coh_reading_o2_flow.to_csv('../data/psql_mimic-1.0_alt/reading_o2_flow.csv')
coh_reading_spo2.to_csv('../data/psql_mimic-1.0_alt/reading_spo2.csv')
coh_reading_so2.to_csv('../data/psql_mimic-1.0_alt/reading_so2.csv')

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))